.containerHeder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin-inline: auto;
    width: 100%;
  }
  
  .containerLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-right: 20px;
  }
  
  .link {
    color: rgb(6, 94, 9);
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
  }
  
  .link-actif {
    text-decoration: underline;
    color: blue;
  }
  
  .logo {
    width: 200px;
    height: 180px;
  }
  
  @media screen and (max-width: 910px) {
    .logo {
      width: 150px;
      height: 130px;
    }
    .link {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 768px) {
    .containerHeder {
      margin-bottom: 5px;
      display: flex;
      align-items: baseline;
    }
    .logo {
      width: 120px;
      height: 100px;
    }
    .link {
      font-size: 15px;
      font-weight: 500;
      color: white;
    }
    .containerLink {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10px;
      gap: 5px;
      background: rgb(7, 7, 7);
      padding: 12px;
    }
    .link-actif {
      color: rgb(13, 228, 124);
      font-size: 17px;
    }
    .containerButton {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 30px;
      margin-right: 20px;
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after {
      width: 35px;
      background: rgb(5, 74, 29);
      height: 4px;
      border-radius: 5px;
      cursor: pointer;
    }
    .hamburger {
      position: relative;
      border: 1px;
      background-color: rgb(5, 74, 29);
      display: flex;
    }
    .hamburger::before,
    .hamburger::after {
      content: "";
      position: absolute;
    }
    .hamburger::before {
      transform: translateY(-8px);
      height: 4px;
    }
    .hamburger::after {
      transform: translateY(-16px);
      height: 4px;
    }
    .menu {
      visibility: hidden;
      height: 0;
    }
  }