.homeUl{
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', 
    sans-serif;
    margin-bottom: 20px;
  }
  .homeUl button{
    
      background-color: #4caf50;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
  
  .homeUl button:hover{
    background-color: #388e3c;
  }
 
  .connexion{
    color: white;
  }
  
  .homeTitle {
    position: absolute;
    color: rgb(182, 169, 0);
    font-size: 40px;
    left: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .homeTexte {
    width: 58%;
    font-size: 18px;
  }
  
  .containerText {
    margin-top: 30px;
    display: flex;
  }
  
  .homeImg {
    display: flex;
    gap: 20px;
    width: 20%;
    height: 20%;
  }
  
  @media screen and (max-width: 910px) {
    .homeTitle {
      font-size: 40px;
    }
    .homeUl{
      font-size: 17px;
    }
    .homeImg {
      display: flex;
      flex-wrap: wrap;
      width: 25%;
      height: 25%;
    }
  }
  @media screen and (max-width: 768px) {
    .homeTitle {
      display: none;
    }
    .homeUl{
      font-size: 15px;
    }
    .homeUl button{
      font-size: 10px;
    }
    .homeTexte {
      width: 100%;
    }
    .containerText {
      display: flex;
      flex-wrap: wrap;
    }
    .homeImg {
      display: flex;
      flex-wrap: nowrap;
    }
  }